@import "tailwindcss";

:root {
  /* Paleta SIGPAC */
  --color-white: #ffffff;
  --color-dark-1: #03045e;
  --color-dark-2: #090c9b;    
  --color-blue-1: #3066be;  
  --color-blue-2: #00a8e8;
  --color-blue-3: #d9d9d9;
  --color-error: #dc2626;
  

  /* Requisito técnico */
  --copyright-text: "GAQE";
}

body {
  background: var(--color-white);
  color: var(--color-dark-1);
}

/* Footer con GAQE via ::after */
.footer-copyright::after {
  content: var(--copyright-text);
  margin-left: 4px;
}
